.Background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, #404448, #3D3D44);
}

.Panel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 88px;
    height: 96px;
}

button {
    position: relative;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

button svg {
    position: relative;
    width: 64%;
    height: 64%;
    opacity: 0.72;
}

.ON {
    border-radius: 6pt;
    border: none;
    background-image: linear-gradient(to right bottom, #70C080, #40B060);
    box-shadow: 1px 1px 2px 0 #ffffff40, inset -2px -2px 4px 0 #ffffff60, inset 4px 4px 4px -1px #000000A0;
}

.ON::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border: solid 2px transparent;
    background-image: linear-gradient(to right bottom, #202020, #020202);
    background-origin: border-box;
    background-clip: border-box;
    /* Chromium */
    -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    -webkit-mask-clip: padding-box, border-box;
    -webkit-mask-composite: destination-out;
    /* Firefox */
    mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    mask-clip: padding-box, border-box;
    mask-composite: destination-out;
}

.OFF {
    border-radius: 6pt;
    border: none;
    background-image: linear-gradient(to right bottom, #45484d, #3e4046);
    box-shadow: 2px 2px 4px 0 #00004030, inset 2px 2px 2px 1px #F8F8FF40, inset -2px -2px 2px 0 #FFFFFF20;
}

.OFF::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border: solid 2px transparent;
    background-image: linear-gradient(to right bottom, #202020, #020202);
    background-origin: border-box;
    background-clip: border-box;
    /* Chromium */
    -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    -webkit-mask-clip: padding-box, border-box;
    -webkit-mask-composite: destination-out;
    /* Firefox */
    mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    mask-clip: padding-box, border-box;
    mask-composite: destination-out;
}

.OFF svg {
    filter: invert(1) hue-rotate(120deg) saturate(0.4);
}
